{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% if HEADER_COVER %}
  {% if HEADER_COVER|lower|truncate(4, True, '') == "http" %}
    {% set selected_cover = HEADER_COVER %}
  {% else %}
    {% set selected_cover = SITEURL+"/"+HEADER_COVER %}
  {% endif %}
{% elif HOME_COVER %}
  {% if HOME_COVER|lower|truncate(4, True, '') == "http" %}
    {% set selected_cover = HOME_COVER %}
  {% else %}
    {% set selected_cover = SITEURL+"/"+HOME_COVER %}
  {% endif %}
{% elif HEADER_COLOR %}
  {% set selected_color = HEADER_COLOR %}
{% elif HOME_COLOR %}
  {% set selected_color = HOME_COLOR %}
{% endif %}

{% set menu_actived = '/' %}
{% block header %}
  {% include 'partials/navigation.html' %}
{% endblock header %}

{% block content %}
  {% include "partials/loop.html" %}
{% endblock content %}